body {
  font-family: "Georgia", san serif;
  background-color: #848484;
}

#box {
  height: 450px;
  width: 320px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff99ff;
  border: 2px solid #e589e5;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #ff99ff;
}

#title {
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  font-size: 20px;
  font-style: bold;
  color: #000000;
}

.clock {
 background: #fff url("https://www.freeiconspng.com/uploads/clock-roman-numerals-clipart-png-7.png") no-repeat center;
  background-color: transparent;
  border-radius: 50%;
  background-size: 110%;
  height: 20em;
  padding-bottom: 31%;
  position: relative;
  width: 20em;
  margin: auto;
}


.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hand {
   width:50%;
   height:6px;
   background:black;
   position: absolute;
   top:50%;
   transform-origin: 100%;
   transform: rotate(90deg);
   transition: all 0.05s;
   transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

 .hour-hand {
      width:50%;
      background: linear-gradient(to left, rgba(117,134,153,1) 0%,rgba(75, 0, 75,1) 70%,rgba(117,134,153,1) 70%,rgba(117,134,153,0) 53%,rgba(117,134,153,0) 100%);
      z-index: 99;
    }

#footer {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  margin-top: 40px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}



